{{include '../public/header'}}
    <section class="layout mt20">
        <div class="grid-row">
            <div class="grid-6">
                <div class="content">
                    <dl class="nav">
                        <dt class="nav-green">功能设置<span class="nav-en">/Setting</span></dt>
                        <dd><a href="/index/index">回到首页</a></dd>
                    </dl>
                </div>
            </div>
            <div class="grid-18">
                <div class="feed_item">
                    <form class="form" method="post" action="/user/setting">
                        <fieldset>
                            <legend>个人资料</legend>
                            <div class="form-group">
                                <label for="realname">真实姓名</label>
                                <input type="text" class="form_txt" id="realname" name="realname" placeholder="输入姓名" value="{{user.realname}}">
                            </div>
                            <div class="form-group">
                                <label for="section">部门分类</label>
                                <select class="form_select" name="section" id="section">
                                  <option value="1" {{if user.section==1 }} selected="true"{{/if}}>视觉设计</option>
                                  <option value="2" {{if user.section==2}} selected="true"{{/if}}>重构</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password1">现在的密码</label>
                                <input type="password" class="form_txt" id="password1" name="password1" placeholder="修改密码时填写">
                            </div>
                            <div class="form-group">
                                <label for="password2">修改后密码</label>
                                <input type="password" class="form_txt" id="password2" name="password2" placeholder="不设置则不修改">
                            </div>
                            <p>
                                <input type="submit" class="btn btn_green btn_md" value="确定" >
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
{{include '../public/footer'}}